input:hover{
    border: 1px solid var(--color-primary);
}

input.is-selected{
    border: var(--color-text_secondary) solid 1px;
}

input.is-focus{
    border: #008BFF solid 1px;
    color: var(--color-primary);
}